.container {
  background-color: #f0f0ff;
  min-height: 80vh;
  width: 100%;
  padding: 0px 100px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.errorMsg {
  font-size: 0.8em;
  color: red;
}
